# Node.js
node_modules/
.env

# Python
__pycache__/
*.pyc
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/
.Rproj.user

# RStudio
.Rproj.user/

# R history
.Rhistory

# Jupyter
.ipynb_checkpoints/
